
.chat-container {
    display: flex;
    flex-direction: column;
    height: 100vh;
    max-width: 700px;
    margin: 0 auto;
    border: 1px solid #ddd;
    border-radius: 10px;
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.1);
    background-color: #f9f9f9;
    font-family: 'Roboto', sans-serif;
    overflow: hidden;
}


.chat-container h2 {
    text-align: center;
    background-color: #007bff;
    color: white;
    padding: 15px;
    margin: 0;
    font-size: 1.5rem;
    font-weight: 400;
    letter-spacing: 1px;
    border-radius: 10px 10px 0 0;
}


.chat-messages {
    flex: 1;
    display: flex;
    flex-direction: column; 
    gap: 10px;
    padding: 20px;
    overflow-y: auto;
    background-color: #f3f3f3;
    border-bottom: 1px solid #ddd;
}


.message {
    max-width: 80%;
    padding: 15px;
    border-radius: 20px;
    position: relative;
    display: block; 
    font-size: 14px;
    line-height: 1.5;
    box-shadow: 0 2px 8px rgba(0, 0, 0, 0.1);
}


.sender {
    align-self: flex-end; 
    background-color: #d1ffe8;
    color: #333;
    border-top-right-radius: 0;
}


.receiver {
    align-self: flex-start; 
    background-color: #ffffff;
    color: #333;
    border-top-left-radius: 0;
}


.message-text {
    margin: 0;
    color: #333;
}


.chat-input-form {
    border-top: 1px solid #ddd;
}

.chat-input {
    display: flex;
    align-items: center;
    padding: 15px;
    background-color: #fff;
    border-radius: 0 0 10px 10px;
}


.chat-input input {
    flex: 1;
    padding: 10px 15px;
    border: 1px solid #ddd;
    border-radius: 25px;
    background-color: #f7f7f7;
    font-size: 14px;
    box-shadow: inset 0 1px 3px rgba(0, 0, 0, 0.1);
    transition: all 0.2s ease-in-out;
}

.chat-input input:focus {
    outline: none;
    border-color: #007bff;
    background-color: #fff;
    box-shadow: 0 0 5px rgba(0, 123, 255, 0.3);
}


.chat-input button {
    margin-left: 10px;
    padding: 10px 20px;
    background-color: #007bff;
    border: none;
    color: white;
    border-radius: 25px;
    font-size: 14px;
    cursor: pointer;
    transition: background-color 0.3s ease;
}

.chat-input button:hover {
    background-color: #0056b3;
}

.clear-chat-button {
    align-self: flex-end;
    padding: 10px 20px;
    margin: 10px;
    background-color: #ff4d4d;
    color: white;
    border: none;
    border-radius: 25px;
    font-size: 14px;
    cursor: pointer;
    transition: background-color 0.3s ease;
}

.clear-chat-button:hover {
    background-color: #d63333;
}


.chat-messages::-webkit-scrollbar {
    width: 8px;
}

.chat-messages::-webkit-scrollbar-thumb {
    background-color: #ddd;
    border-radius: 10px;
}
